@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: 'IRANSansBold';
  src: local('IRANSansBold'), url('./../src/font/Fontsite/IRANSansBold.ttf') format('truetype');
}